<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role Type</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let user of service.list">
        <td (click)="PopulateForm(user)">{{user.Name}}</td>
        <td (click)="PopulateForm(user)">{{user.Email}}</td>
        <td (click)="PopulateForm(user)">{{user.Roletype}}</td>
        <td (click)="PopulateForm(user)">{{user.Status}}</td>
        <td><button (click)="onEdit(user.Name)" class="btn"><img src="assets/img/edit.png" style = "width:25px; height:25px"></button></td>
        <td><button (click)="onDelete(user.Name)" class="btn sm btn-outline-danger">X</button></td>
    </tr>
</table>
